<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tx.bxp.mapper.BrowseLikeMapper">

    <insert id="InsertBrowseLike" parameterType="tx.bxp.entity.BrowseLike">
        insert into bxp_browse_like(p_id,browse_number,like_number,reply_number,type)
        values (#{pid},#{browsenumber},#{likenumber},#{replynumber},#{type})
    </insert>


    <update id="updateBrowseLike" parameterType="tx.bxp.entity.BrowseLike">
    update bxp_browse_like
    <trim prefix="set" suffixOverrides=",">
        <if test="browsenumber != null and browsenumber != ''">
          browse_number =browse_number+ #{browsenumber},
        </if>
        <if test="likenumber != null and likenumber != ''">
        like_number = like_number+#{likenumber},
    </if>
        <if test="replynumber != null and replynumber != ''">
            reply_number = reply_number+#{replynumber},
        </if>
    </trim>
        where p_id=#{pid} and type=#{type}

    </update>


    <select id="selectBrowseLike" parameterType="tx.bxp.entity.BrowseLike" resultType="Integer">
        select IFNULL(reply_number,0) reply_number from bxp_browse_like   where p_id=#{pid} and type=#{type}
    </select>

</mapper>
