<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>奖励帮助</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/about.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- <script type="text/javascript">
         $.ajax({
             type: "post",
             url: "helpareaview",
             success: function (data) {
                 if (data.result == "1") {
                     $("#id").val(data.msg);
                     uploader.upload();
                 } else {

                 }
             }
         });
     </script>
 -->

</head>

<body style="background:#fcf7df;">
<div class="aboubox">
    <ul class="bjup">

        <li><a href="help_detail.html">
            <img src="images/icon_xize.png" class="center-block iconImg"/>
            <h4>实施细则</h4>
            <div class="yun"><img src="images/lxy.png"><strong>查看详情</strong><img src="images/rxy.png"></div>
        </a></li>

        <li><a href="help_reward.html">
            <img src="images/icon_biaozhun.png" class="center-block iconImg"/>
            <h4>奖励类别及标准</h4>
            <div class="yun"><img src="images/lxy.png"><strong>查看详情</strong><img src="images/rxy.png"></div>
        </a></li>

        <li><a href="help_area.html">
            <img src="images/icon_diyu.png" class="center-block iconImg"/>
            <h4>奖励实施地域</h4>
            <div class="yun"><img src="images/lxy.png"><strong>查看详情</strong><img src="images/rxy.png"></div>
        </a></li>
    </ul>
</div>
</body>

</html>